*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.logo_oasis{
    width: 10rem;
}

.user_picture{
    width: 2rem;
    border: 2px solid black;
    border-radius: 50%;
}

/*Main search*/
main{
    background-color: rgb(242, 240, 240);
    padding: 3rem;
}

.info_details{
    display: flex;
    justify-content: center;
}

.info_details img{
    width: 13rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10%;
}

.tittle{
    color: rgb(163, 159, 159);
}

/*Footer*/
.socialIcon {
    width: 2rem;
}

@media only screen and (max-width: 576px){
    .info_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}